.searching {
  width: 80%;
  margin: 40px auto 40px;

  display: flex;
  justify-content: center;
}

.posts__title {
  margin: 40px 0 40px;

  text-align: center;
  letter-spacing: 6px;
}

.observer {
  margin: 50px 0;
}