@mixin btn($background-color, $border, $color) {
  padding: 7px 19px;

  background: $background-color;
  border: $border;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.471;
  border-radius: 6px;
  color: $color;

  cursor: pointer;
}

.btn {
  margin: 0 15px;
  @include btn(#3498db, none, white)
}

.btn_delete {
  @include btn(none, 1px solid #e74c3c, #e74c3c);
}

.btn_user {
  @include btn(#1abc9c, none, white)
}

.btn_disabled {
  @include btn(#bdc3c7, none, white)
}


// background-color: #1abc9c;